<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.PackageManager" description="Package Manager" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\packagemanager\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.PackageManager.SpeakDashboard" database="core" path="/sitecore/client/Applications/PackageManager" />
            <include name="Foundation.PackageManager.LaunchPad" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/PackageManager" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>